<!--Created by anisha on 17/6/15.--><!DOCTYPE html><html><title>Pricing Graph</title></html><script src="/javascripts/jquery-2.1.3.min.js"></script><script src="http://code.highcharts.com/highcharts.js"></script><script src="http://code.highcharts.com/modules/exporting.js"></script><script>$(function () {
Highcharts.setOptions({
colors: ['#333333', '#FF8C00']
});
$('#container').highcharts({
chart: {
type: 'column'
},
title: {
text: 'Apartment Pricing vs Aggregate Ward Pricing'
},
subtitle: {
text: ''
},
xAxis: {
categories: [
'Guidance Value',
'Market Value',
'Registration Value',
'Listing Value',
],
crosshair: true
},
yAxis: {
min: 0,
title: {
text: 'Price (Rs/sq ft)'
}
},
tooltip: {
headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
'<td style="padding:0"><b>{point.y:.1f} Rs/sq ft</b></td></tr>',
footerFormat: '</table>',
shared: true,
useHTML: true
},
plotOptions: {
column: {
pointPadding: 0.2,
borderWidth: 0
}
},
series: [{
name: 'Apartment',
data: [49.9, 71.5, 106.4, 129.2]
}, {
name: 'Ward',
data: [83.6, 78.8, 98.5, 93.4]
}]
});
});</script><div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>