//
   Created by anisha on 29/6/15.

extends layout
block scripts2
   script(src='/javascripts/autocomplete.min.js')
   link(rel='stylesheet', href='/stylesheets/autocomplete.min.css')
   script(src='/javascripts/search.min.js')
   link(rel='stylesheet', href='/stylesheets/search.min.css')

block content
   p If you have any further questions please contact us at
      a(href='mailto:urbaninformatics2015@gmail.com') &nbsp urbaninformatics2015@gmail.com