//
   Created by anisha on 24/6/15.

doctype html
html
   head
      title Urban Informatics 2015
      link(rel='stylesheet', href='/stylesheets/uikit.min.css')
      script(src='/javascripts/jquery-2.1.3.min.js')
      script(src='/javascripts/uikit.min.js')
      // Tooltip CSS
      link(rel='stylesheet', type='text/css', href='/stylesheets/tooltip.min.css')
      // Tooltip Javascript
      script(src='/javascripts/tooltip.min.js')
      link(rel='stylesheet', href='/stylesheets/uikit.min.css')
      link(rel='stylesheet', href='/stylesheets/leaflet.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/uibangalore.css')

   body
      p
         i If you have any additional questions please
         a(href="mailto:urbaninformatics2015@gmail.com" style="color:blue")
            i &nbsp email us &nbsp
         i at urbaninformatics2015@gmail.com
