body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#layerSearch{
	
	margin-top: 100px;
	margin-left: 20%;
}

#mapContainer{
	style='height: 400px;'
}


/*#layerSearch {

	/*opacity: 0.7;*!/
	/*position: fixed;*!/
	z-index: 1;
	margin-top: 45px;
	margin-left: 5%;
	width: 80%;
	height: 10%;
	z-index: 2;
	border-radius: 10px;
	
}*/

/*@media (min-width: 500px) {
	#layerSearch{
		
		margin-left: 25%;;
	}
}*/

/*#searchBoxOuter {

	background-color: df8d10;
	height: 200px;
    -webkit-clip-path: polygon(
    0% 10%, 30% 10%, 35% 15%, 90% 15%, 90% 40%,0% 40%);
    
    z-index: 2;
    margin-left: 5%;
    width: 75%;
    opacity: 1.0;
}	*/


		

#main{

	position: absolute;
	background: url(../images/bangalore.jpg) 0px;
	
	background-repeat: no-repeat;
	background-size: 100%;
	
	
	width: 80%;
	height: 300px;
	
	opacity: 0.6;
	filter: alpha(opacity=60);
}
