doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/uikit.min.css')
    link(rel='stylesheet', href='/stylesheets/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body



    nav(class="uk-navbar" id="primaryNav" data-uk-scrollspy="{cls:'uk-animation-slide-bottom', target:'a', delay:100}")
      a(class="uk-navbar-brand" href='/') Urban Informatics
      ul(class="uk-navbar-nav" )
        li(class="uk-navbar-nav"): a about
        li(class="uk-navbar-nav"): a partners
        li(class="uk-navbar-nav"): a contact


    block scripts    
    block content
    block map