extends layout

block scripts

    script(src='/javascripts/jquery-2.1.3.min.js')
    script(src='/javascripts/leaflet.js')
    script(src='/javascripts/uikit.min.js')
    script(src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0")
    script(src="/javascripts/client.js")

block map

    a(class="uk-navbar-brand locality") #{title}
    div(class="uk-container"): #map(style='height: 400px;' )    

    script.

        var point = [#{basePoint}]
        var objectLayer = !{featureObject}
        var guidanceValues = !{guidanceObject}

        var map = L.map("map").setView(point, 13)
        var layer = new L.StamenTileLayer("toner-lite")
        map.addLayer(layer)

        var popup = L.popup()
            .setLatLng(L.latLng(objectLayer[0].geometry.coordinates[0]) ) //add popup with guidance values
            .setContent(/*JSON.stringify(guidanceValues)*/ 'hello');
            //.openOn(map);
        

        window.onload = parseResponse(objectLayer);